<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body class="cart">
<header th:replace="~{fragments/commons::nav}"></header>
<div class="container text-center mt-5 text-white">

    <h1 class="display-6 p-2 border-bottom m-5 fw-bold fst-italic">CART</h1>

    <div class="container-fluid mb-5">

        <div th:each="item: ${items}" class="row align-items-center m-3 cart-round">

            <div class="media col-12 col-md-3 p-2">
                <img th:src="${item.getBouquet().getUrl()}" alt="picture of bouquet">
            </div>

            <div class="col-12 col-md-7 fs-5">
                <p th:text="${item.getBouquet().getDescription()}">{Description}</p>
                <p class="py-3 fst-italic" th:text="|Quantity: ${item.getQuantity()} pcs|">Quantity: {2} pcs</p>
                <p class="fw-bold fst-italic" th:text="|Price per pcs: ${item.getBouquet().getPrice()} $|">Price: {2365.26} $</p>
            </div>

            <div class="col-12 col-md-2">
                <form th:action="@{/cart/remove/{id}(id=*{item.getId()})}" th:method="post">
                    <button type="submit" class="remove-btn rounded-pill px-3 py-1">Remove</button>
                </form>
            </div>

        </div>
    </div>

    <div class="mt-3 mb-5">
        <p class="fs-3 fw-bold fst-italic m-3" th:text="|Total sum: ${totalSum} $|">Total sum: {totalSum} $</p>
        <button class="button-29 rounded-pill mb-5 px-5 fs-3 fw-bold fst-italic">BUY</button>
        <button class="exitBtn rounded-pill mb-5 px-5 fs-3 fw-bold fst-italic ">f060</button>
    </div>
</div>
<!--        TODO:implement back to gallery button-->

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>