<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body class="home">
<header th:replace="~{fragments/commons::nav}"></header>
<div class="container text-center py-4 mb-5 text-white">
    <h1 class="display-6 p-2 border-bottom m-5 myFont1 display-3">CART</h1>
    <div class="mb-5">
        <div th:each="item: ${cart.getItems()}" class="row align-items-center m-3 cart-round my-container">
            <div class="media col-12 col-md-3 p-2">
                <img style="height: 300px;" th:src="${item.getBouquet().getUrl()}" alt="picture of bouquet">
            </div>
            <div class="col-12 col-md-7 fs-5">
                <p class="fst-italic" th:text="${item.getBouquet().getDescription()}">{Description}</p>
                <p class="fst-italic">Item No:
                    <span class="fw-bold" th:text="${item.getBouquet().getItemNumber()}"></span>
                </p>
                <p class="fst-italic">Quantity:
                    <span class="fw-bold" th:text="${item.getQuantity()}"></span>
                    pcs
                </p>
                <p class="fst-italic">Price per pcs:
                    <span class="fw-bold"
                          th:text="${#numbers.formatDecimal(item.getBouquet().getPrice(),0,2)}"></span>
                     &euro;
                </p>
            </div>
            <div class="col-12 col-md-2">
                <form th:action="@{/cart/remove/{id}(id=*{item.getId()})}" th:method="post">
                    <button type="submit" class="remove-btn rounded-pill px-3 py-1 mb-4">Remove</button>
                </form>
            </div>
        </div>
    </div>
    <div class="mb-3 d-flex justify-content-center align-items-center">
        <form th:action="@{/order/{cartId}(cartId=*{cart.getId()})}" th:method="post">
            <p th:if="${cart.getTotalPrice()} != 0" class="fs-3 myFont1 m-3"
               >Total sum:
                <span class="fw-bold" th:text="${#numbers.formatDecimal(cart.getTotalPrice(),0,2)}"></span>
                &euro;
            </p>
            <p th:if="${cart.getTotalPrice()} == 0" class="fs-1 fw-bold fst-italic mt-3"
               th:text="'The cart is empty!'">Empty</p>
            <button th:if="${cart.getTotalPrice()} != 0" class="btn-gold rounded-pill mb-5 px-5 py-1 fs-3 fw-bold
            fst-italic col-10">BUY
            </button>
            <p>
                <a th:href="@{/home}" class="back-btn glowing-gold rounded-pill px-5 py-1 fs-5 fst-italic text-white
                text-decoration-none border border-light">To gallery</a>
            </p>
        </form>
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>