<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main class="home">
    <div class="container text-center my-5">
        <div th:object="${bouquets}" class="row g-5">
            <div th:each="bouquet: ${bouquets}" class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="media">
                        <img th:src="${bouquet.url}" alt="picture of bouquet">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${bouquet.description}">{description}</h5>
                        <p class="card-text" th:text="|No. ${bouquet.itemNumber}|">{No.}</p>
                        <p class="card-text mb-2" th:text="|Price: ${bouquet.price}|">{Price: lv.}</p>

                        <a sec:authorize="!hasRole('ROLE_ADMIN')" th:href="@{/cart/add/{itemNumber}(itemNumber=${bouquet.itemNumber})}" class="button-29 rounded-pill">ADD TO CART</a>
                        <form sec:authorize="hasRole('ROLE_ADMIN')"
                              th:method="post"
                              th:action="@{/bouquet/remove/{itemNumber}(itemNumber=${bouquet.itemNumber})}"
                        >
                            <button th:href="@{/bouquet/remove/{itemNumber}(itemNumber=${bouquet.itemNumber})}"
                                    class="remove-btn rounded-pill py-2 px-4">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>