<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container d-flex flex-wrap justify-content-center mx-auto my-5">
        <div class="card m-3 text-center flex-shrink-0" style="width: 18rem;">
<!--            todo: the images must be of the same height.-->
            <img src="img/pexels-nur-yilmaz-53801215-9168324.jpg" class="card-img-top" alt="picture">
            <div class="card-body">
                <h5 class="card-title">Букет слънчогледи</h5>
                <p class="card-text">Цена 29,60 лв</p>
                <a href="#" class="button-29 rounded-pill p-2 w-50 my-2 ">Купи</a>
            </div>
        </div>
        <div class="card m-3 text-center flex-shrink-0" style="width: 18rem;">
            <img src="img/pexels-nur-yilmaz-53801215-9168324.jpg" class="card-img-top" alt="picture">
            <div class="card-body">
                <h5 class="card-title">Букет слънчогледи</h5>
                <p class="card-text">Цена 29,60 лв</p>
                <a href="#" class="button-29 rounded-pill p-2 w-50 my-2 ">Купи</a>
            </div>
        </div>
        <div class="card m-3 text-center flex-shrink-0" style="width: 18rem;">
            <img src="img/pexels-nur-yilmaz-53801215-9168324.jpg" class="card-img-top" alt="picture">
            <div class="card-body">
                <h5 class="card-title">Букет слънчогледи</h5>
                <p class="card-text">Цена 29,60 лв</p>
                <a href="#" class="button-29 rounded-pill p-2 w-50 my-2 ">Купи</a>
            </div>
        </div>
        <div class="card m-3 text-center flex-shrink-0" style="width: 18rem;">
            <img src="img/pexels-nur-yilmaz-53801215-9168324.jpg" class="card-img-top" alt="picture">
            <div class="card-body">
                <h5 class="card-title">Букет слънчогледи</h5>
                <p class="card-text">Цена 29,60 лв</p>
                <a href="#" class="button-29 rounded-pill p-2 w-50 my-2 ">Купи</a>
            </div>
        </div>
        <div class="card m-3 text-center flex-shrink-0" style="width: 18rem;">
            <img src="img/pexels-nur-yilmaz-53801215-9168324.jpg" class="card-img-top" alt="picture">
            <div class="card-body">
                <h5 class="card-title">Букет слънчогледи</h5>
                <p class="card-text">Цена 29,60 лв</p>
                <a href="#" class="button-29 rounded-pill p-2 w-50 my-2 ">Купи</a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>