<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>
<body class="background1">
    <header th:replace="~{fragments/commons::nav}"></header>
    <main>
        <section class="position-absolute top-50 start-50 translate-middle my-container">
           <div class="mx-auto p-3 text-center">
                <h1 class="text-white">Орхидея</h1>
                <p class="text-white fs-4 m-3">Онлайн бутик за цветя и букети</p>
                <div class="d-flex justify-content-center gap-4 m-3 pt-2">
                    <a th:href="@{/login}" class="button-29 rounded-pill p-1 col-3 fs-5">Login</a>
                    <a th:href="@{/register}" class="button-29 rounded-pill p-1 col-3 fs-5">Register</a>
                </div>
           </div>
        </section>
    </main>
    <footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>