<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body class="shipping-order">
<header th:replace="~{fragments/commons::nav}"></header>

<section class="gradient-custom">

    <h1 class="display-6 p-2 m-5 fw-bold fst-italic text-center text-white">Shipping orders:
        <span class="px-2 text-white" th:text="${#lists.size(orders)}"></span>
    </h1>


    <div class="container py-1">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-10 col-xl-8">
                <div class="border mb-3  bg-black" style="border-radius: 10px;" th:each="order: ${orders}">
                    <form th:method="post"
                          th:action="@{/order/change-status}">
                    <div class="p-4">
                        <div class="shadow-0 mb-4">
                            <div class="text-white">
                                <div class="row mb-2" th:each="item: ${order.getItems()}">
                                    <div class="col-md-2">
                                        <img style="width: 100px; height: 100px;" th:src="${item.getUrl()}"
                                             class="img-fluid" alt="Picture of bouquet">
                                    </div>
                                    <div class="col-md-2 text-center d-flex flex-column justify-content-center align-items-center text-white">
                                        <p class="mb-0 text-white" th:text="${item.getDescription()}">Description</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex flex-column justify-content-center align-items-center text-white">
                                        <p class="mb-0 small text-white" >Item No</p>
                                        <p class="mb-0 small text-white" th:text="${item.getItemNumber()}">Item number</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex flex-column justify-content-center align-items-center text-white">
                                        <p class="mb-0 small text-white">Quantity</p>
                                        <p class="mb-0 small text-white" th:text="${item.getQuantity()}">Qty: 1</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex flex-column justify-content-center align-items-center text-white">
                                        <p class="mb-0 small text-white"> Price per unit</p>
                                        <p class="mb-0 small text-white" th:text="${item.getUnitPrice()}">$499</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex flex-column justify-content-center align-items-center text-white">
                                        <p class="mb-0 small text-white">Price</p>
                                        <p class="mb-0 small text-white" th:text="${item.getUnitPrice() * item.getQuantity()}">$499</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

<!--                        TODO: SHOW ORDER ID-->
                        <div class="d-flex justify-content-between pt-2 text-white">
                            <p class="fw-bold mb-0 text-white">Order Details</p>
                            <p class="mb-0 text-white" th:text="|Total: ${order.getTotalAmount()}|"><span class="fw-bold me-4 text-white">Total</span> $898.00</p>
                        </div>
                        <div class="d-flex justify-content-between text-white">
                            <!--                            TODO: format date time - separate date and time -->
                            <p class="mb-0 text-white" th:text="|Order Date and time: ${order.getOrderDateTime()}|">Order Date and time: 22 Dec,2019</p>
                            <p class="mb-0 text-white" th:text="|Status: ${order.getStatus()}|"><span class="fw-bold me-4 text-white">Status</span>PENDING</p>
                        </div>
                        <p class="fw-bold mb-0 text-white" th:text="|Shipping address: ${order.getShippingAddress()}|">Address</p>

                    </div>
                    </form>

                    <form th:method="post" th:action="@{/order/change-status/{id}(id=${order.getId()})}">
                        <p class="text-center">
                            <button type="submit" class="btn-gold rounded-pill fs-5">Ship order</button>
                        </p>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>