<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ОРХИДЕЯ</title>
  <link rel="icon" href="/images/orchid_9704101.png" type="image/icon type">
  <link rel="stylesheet" href="/css/reset-css.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header >
  <nav>
<!--    TODO: new nav layout when items are hidden-->
    <ul>
      <li>
        <img src="/images/orchid_9704101.png" alt="orchid">
        <a th:href="@{/}">Orchid app</a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/bouquet/add}">Add Bouquet</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <span class="text-white">Welcome, </span>
        <span class="text-white" sec:authentication="name">Anonymous</span>
      </li>
      <li sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Login</a>
      </li>
      <li sec:authorize="!isAuthenticated()">
        <a th:href="@{/register}">Register</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">Logout</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/cart}">
          <img src="/images/shopping-cart.png" alt="cart">
        </a>
      </li>
    </ul>
  </nav>
</header>
<footer>
  <!-- todo: fix responsive issue with position-fixed -->
  <div>&copy Ivan Rusenov 2024</div>
</footer>

</body>
</html>