<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ОРХИДЕЯ</title>
  <link rel="icon" href="/img/orchid_9704101.png" type="image/icon type">
  <link rel="stylesheet" href="/css/reset-css.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header >
  <nav>
<!--    TODO: new nav layout when items are hidden-->
    <ul>
      <li>
        <img src="/img/orchid_9704101.png" alt="orchid">
        <a href="/">Orchid app</a>
      </li>
      <li th:if="${@loggedUser.isLogged}">
        <a th:href="@{/bouquet/add}">Add Bouquet</a>
      </li>
      <li th:if="${@loggedUser.isLogged}">
        <span class="text-white" th:text="@{|Welcome ${@loggedUser.username}|}">Welcome {username}</span>
      </li>
      <li th:unless="${@loggedUser.isLogged}">
        <a th:href="@{/login}">Login</a>
      </li>
      <li th:unless="${@loggedUser.isLogged}">
        <a th:href="@{/register}">Register</a>
      </li>
      <li th:if="${@loggedUser.isLogged}">
        <a th:href="@{/logout}">Logout</a>
      </li>
      <li th:if="${@loggedUser.isLogged}">
        <a th:href="@{/cart}">
          <img src="img/shopping-cart.png" alt="cart">
        </a>
      </li>
    </ul>
  </nav>
</header>
<footer>
  <!-- todo: fix responsive issue with position-fixed -->
  <div>&copy Ivan Rusenov 2024</div>
</footer>

</body>
</html>